ul.tenday li 
{
    display:block; 
    width: 62px;
    float: left;
}
dd.high dl dt,
dd.low dl dt
{ display: none; }

.accuweather .icon 
{
    width: 62px;
    height: 45px;
    overflow: hidden;
}
.accuweather .day { margin-left: -5px; }
.accuweather .night { margin-left: 31px; line-height: 0; }
.tenday dt { margin: auto; text-align: center; }
.tenday dd
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 6px;
}
.tenday dd.high
{
    color: #FFBF00;
    margin-left: 7px;
}
.tenday dd.low 
{
    color: #000066;
    text-indent: 25px; 
}
img.icn 
{ 
    background-repeat: none;
    background-size: 100%;
    border: 0;
}

div.icon img { float: left; }

#weather_widget { width: 300px; }
#weather_widget ul 
{
    padding-left: 0!important;
    margin: 0!important; 
}
#weather_widget ul li { width: 55px; }
#weather_widget h3 
{ 
    margin: 15px 0 0 0; 
}
#weather_widget h3.tenday { clear: both; }

.typeahead-wrapper 
{
    display: block;
    margin: 50px 0;
}
.tt-dropdown-menu 
{
    background-color: #fff;
    border: 1px solid #888;
    padding: 5px;
}
.tt-suggestion.tt-cursor 
{
    background-color: #ccc;
}
.triggered-events 
{
    float: right;
    width: 500px;
    height: 300px;
}
